html, body {
  font-size: 16px;
  height: 100%;
  line-height: 1.2rem;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  line-height: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

q {
  font-style: italic;
}

.mobile {
  display: none;
}

/*Header*/
header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 1.5rem;
  height: 2rem;
}

.logo span {
  line-height: 2rem;
  font-size: 1.5rem;
}

header nav {
  margin-right: 1.5rem;
}

.header_links a{
  margin-left: 1rem;
}

.bold {
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    display: flex;
    justify-content: space-around;
  }
}

/*FIRST CONTENT*/
.first_content {
  background-color: lightgray;
  max-height: content;
  display: flex;
  align-items: center;
}

.banner {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner img{
  max-width: 100%;
  height: auto;
}

.banner_text {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-weight: bold;
}

.banner_text .button {
  margin-top: 2rem;
  background-color: gray;
  text-align: center;
  width: 80%;
  padding: 0.5rem 0rem;
}

.button a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

.banner_text p {
  font-size: 1.2rem;
  line-height: 1.7rem;
}

@media only screen and (max-width:600px) {
  .first_content {
    background-color: lightgray;
    max-height: content;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .banner {
    width: 100%;
    margin: 0rem 0.2rem;
  }

  .banner img{
    max-width: 100%;
    height: auto;
  }

  .banner_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: bold;
    word-wrap:break-word;
    margin: 2rem 1rem 2rem 1rem;
  }

  .banner_text .button {
    margin-top: 1.5rem;
    background-color: gray;
    text-align: center;
    display: block;
    padding: 0.5rem 1.5rem;
    margin-right: 1rem;
  }

  .button a {
    text-decoration: none;
    color: white;
    font-weight: normal;
  }
}
/*SECOND CONTENT*/
.second_content {
  display: flex;
  max-height: content;
  align-items:flex-start;
  padding: 2rem 0rem;
}

.left {
  width: 60%;
  margin: 0rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.left img{
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.left .name {
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 2rem;
}
.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-left: 0.8px solid lightgray;
}

/* .orientation {
  max-height: content;
} */

.orientation, .campus, .guest_lecture {
  display: flex;
  align-items: center;
}

.second_content .text h2 {
  margin-bottom: 0.7rem;
}
.second_content .text p {
  margin: 0.7rem 0rem;
}

.second_content .text span {
  margin-bottom: 1rem;
}

.right img{
  display: inline-block;
  max-width: 35%;
  height: auto;
  margin: 0rem 1rem 1rem 1rem;
}

.guest_lecture {
  background-color: lightgray;
  padding-top: 1rem;
}

.second_content .mobile {
  display: none;
}

@media only screen and (max-width:600px) {

  .second_content {
    padding: 1rem 0rem 2rem;
  }

  .second_content .desktop {
    display: none
  }


  .second_content .left {
    display: none;
  }

  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 1rem;
    border: 0px;
  }

  .right img{
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-bottom: 0rem;
  }

  .orientation {
    margin-top: 0rem;
    max-height: content;
  }

  .orientation, .campus, .guest_lecture {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .right .text {
    margin-left: 1rem;
  }

  .second_content .text h2 {
    margin-bottom: 0rem;
    margin-top: 1.2rem;
  }

  .orientation p, .campus p, .guest_lecture p{
    margin: 0.5rem 0rem;
  }

  .second_content .text span {
    margin-bottom: 1.5rem;
  }

  .second_content .guest_lecture .text span{
    margin-bottom:0px;
  }

  .second_content .mobile{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0rem;
  }

  .guest_lecture {
    background-color: white;
  }


}
/*THIRD CONTENT*/
.third_content h1 {
  text-align: center;
}

.third_content.desktop {
  background-color: lightgray;
  padding: 2rem 4.5rem;
}

.third_content.desktop h2 {
  margin-bottom: 1rem;
}

.third_content.desktop p {
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

.blocks {
  min-width: 32%;
  max-width: 32%;
  background-color: white;
  margin-top: 1rem;
}

.blocks img {
  max-width: 100%;
  height: auto;
  margin: 0rem 0rem 1rem;
}

.blocks .blocks_text {
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  width: 80%;
}

.courses.desktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.third_content.mobile {
  display: none;
}

@media only screen and (max-width:600px) {
  .third_content.desktop {
    display: none;
  }

  .third_content.mobile {
    display: block;
    padding: 2rem 0.5rem;
  }

  .courses.mobile {
    display: block;
  }

  .courses.mobile h2 {
    background-color: lightgray;
    margin-bottom: 0.5rem;
    padding: 1rem 0rem 1.5rem 1rem;

  }




}


/*FOURTH CONTENT*/
.fourth_content {
  padding: 2rem 0.2rem 1.5rem 0.2rem;
}

.fourth_content h1 {
  text-align: center;
  margin: 1rem 0rem 2rem;
}

.columns {
  display: flex;
}
.fourth_content .left {
  margin: 0rem 1.5rem 2rem;
  width: 60%;
}

.fourth_content .left h2 {
  margin: 1.5rem 0rem 0.5rem;
}

.fourth_content .right {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.fisma, .nowthen {
  display: flex;
  max-height: content;
  align-items: center;
  padding: 1rem;
}

.fisma {
  background-color: lightgray;
}

.fisma img, .nowthen img {
  width: 30%;
  height: auto;
  margin-right: 1rem;
}

.right .text {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width:600px) {
  .fourth_content .desktop {
    display: none;
  }

  .fourth_content .left {
    margin: 0rem 0rem 0.5rem 0rem;
    width: 100%;
  }

  .fourth_content .left h2 {
    margin: 1.5rem 0rem 0.5rem;
  }


}

/*FOOTER*/
footer {
  padding: 1rem 1rem 2.5rem 1.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 0.5px solid lightgray;
}

footer span:last-child {
  word-spacing: 1rem;
}

@media only screen and (max-width:600px) {
  footer {
    padding: 1rem 0rem 1rem 0.5rem;
    display: block;
    text-align: center;
    border: 0px;
  }
}
