html, body {
  font-size: 16px;
  height: 100%;
  font-family: Helvetica;
  line-height: 1.2rem;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  width: 90%;
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
/*Header*/
header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 1.5rem;
  max-height: 2rem;
}

.logo span {
  line-height: 2rem;
}

header nav {
  margin-right: 1.5rem;
}

.header_links a{
  margin-left: 1rem;
}

/*FIRST CONTENT*/
.first_content {
  background-color: lightgray;
  max-height: content;
  display: flex;
  align-items: center;
}

.banner {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner img{
  max-width: 100%;
  height: auto;
}

.banner_text {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-weight: bold;
}

.banner_text .button {
  margin-top: 1.5rem;
  background-color: gray;
  text-align: center;
  width: 80%;
  padding: 0.5rem 0rem;
}

.button a {
  text-decoration: none;
  color: white;
  font-weight: normal;
}

/*SECOND CONTENT*/
.second_content {
  display: flex;
  max-height: content;
  align-items: center;
}

.left {
  width: 60%;
  margin: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
}

.left img{
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.orientation {
  margin-top: 2rem;
  max-height: content;
}

.orientation, .campus, .guest_lecture {
  display: flex;
  align-items: center;
}

.orientation p, .campus p, .guest_lecture p{
  margin: 0.5rem 0rem;
}

.right img{
  display: inline-block;
  max-width: 35%;
  height: auto;
  margin: 1rem;
}

.guest_lecture {
  background-color: lightgray;
}

/*THIRD CONTENT*/
